:root {
    --primary-color: #4a3a3a;
    --secondary-color: #6e5c5a;
    --background-color: #ffefeb;
    --header-background: #ffd9ce;
    --text-color: #333;
    --accent-color: #ff6b6b;

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background);
}

.contact-info h1 {
    color: var(--primary-color);
}